@import "../node_modules/bootstrap/scss/bootstrap.scss";

$custom-colors: (
    "iesmanacor" : $yellow-400,
    "primary" : orange
);

//MERGE
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-merge($theme-colors-rgb, $custom-colors);
$utilities-bg-colors: map-merge($utilities-bg-colors, $custom-colors);
$utilities-text-colors: map-merge($utilities-text-colors, $custom-colors);


.carousel img {
    width: auto; 
    height: auto; 
}

.iesmanacor{
    background-color: $yellow-400;
}